    .bg-person{
    background-color: #00ff6e;
}
#logo{
    width: 180px;
}
.nav-link{
    font-weight: 600;
    font-size: 16px;
}

#fundo-1{
    background-color: #63fca5;
    color: white;
    font-family: sans-serif;
    font-size: 21px;
    height: 100%!important;
    color: rgb(63, 201, 8);
    z-index: 0;
}

#fundo-1 .start{
    font-weight: 600;
    font-size: 62px;
    border-left: #00ff6e 2px solid;
}

#fundo-1 h2{
    font-weight: 600;
    font-size: 62px;
}

.justIN{
    color: #212529!important;
}

#exbition{
    height: 5   00px!important;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(./bg.png);
    z-index: 1;
}

.block{ 
    height: 15rem;
    width: 12em;
    transition: all 0.6s ease;
}

.block:hover{
    transition: ease 0.6s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.long{
    z-index: 3;
    font-size: 34px;
    font-weight: 600;
}

#fundo-2{
    background-color: #9ef01a;
}

#fundo-2 h1{
    font-weight: 600;
    font-size: 62px;
}

#fundo-2 h3{
    font-weight: 600;
    font-size: 42px;
}

.exibe-servicos{
    font-weight: 600;
    font-size: 56px;
}

.exibe-servicos-decricao, ul, li{
    font-size: 26px;   
}

.big-title{
    font-weight: 600;
    font-size: 76px;
}


.bbig-title{
    font-weight: 600;
    font-size: 56px;
}

.carrousel-limiter{
    width: 600px;
}